<div class="list-outer">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 column">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>User Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="ALL">All</mat-option>
            <mat-option value="FARMER">Farmer</mat-option>
            <mat-option value="WHOLESALER">Wholesale Buyer</mat-option>
            <mat-option value="RETAILER">Retailer</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br>
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td>Configuration</td>
        <td>Full Name</td>
        <td>Email</td>
        <td>Role</td>
        <td>Active Status</td>
        <!--        <td>Image</td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let au of allUsers">
        <td class="table-col">
          <div class="td-inner">
            <div class="button-outer">
              <button (click)="restrictUser(au?.property_id)" class="delete-button button">
<!--                <mat-icon>block</mat-icon>-->
                <mat-icon *ngIf="au?.activeStatus">block</mat-icon>
                <mat-icon *ngIf="!au?.activeStatus" style="color: #16A085FF!important">check_circle</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{au?.firstName}} {{au?.lastName}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
                        {{au?.email}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
                        {{au?.role}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
                        {{au?.activeStatus ? 'Active' : 'Deactivated'}}
          </div>
        </td>
        <!--        <td class="table-col">-->
        <!--          <div class="td-inner">-->
        <!--            <img [src]="t?.icon" alt="icon">-->
        <!--          </div>-->
        <!--        </td>-->

      </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
