<div class="outer">
  <form #f="ngForm" [formGroup]="form">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 column">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Blog Title</mat-label>
          <input formControlName="blogTitle" matInput>
        </mat-form-field>
      </div>
      <div class="col-12">
      </div>
      <div class="col-12 col-sm-6 col-lg-4 column image">
        <mat-label>Product Image</mat-label>
        <div (click)="fileUpload1.click()" class="image-outer">
          <input #fileUpload1 (change)="imageSelected($event)"
                 accept=".jpg, .png, .jpeg" class="file-input" type="file">
          <img *ngIf="imageUrl" alt="" src="{{imageUrl}}">
        </div>
      </div>
      <div class="col-12 quill-outer">
        <mat-label>Content</mat-label>
        <quill-editor (onContentChanged)="onContentChanged($event)"
                      (onSelectionChanged)="onSelectionChanged($event)"
                      [modules]="quillConfiguration"
                      [styles]="{height: '300px'}"
                      placeholder="Enter Text"></quill-editor>
      </div>

      <div class="col-12 column">
        <div class="submit-button-outer">
          <button (click)="createBlog(f)"
                  class="submit-button" mat-raised-button>
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--[disabled]="form.invalid"-->
