<div class="blog-list-outer">
  <div class="card-outer">
    <div class="card" *ngFor="let b of allBlogs">
      <div class="card-image">
        <img src="{{b?.image}}" alt="">
      </div>
      <div class="category">{{b?.date}}</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" (click)="navigate(b?.blogId)">View More</button>
    </div>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
