<div class="shop-product-list-outer">
  <div class="card-outer">
    <div class="card" *ngFor="let ap of allProducts">
      <div class="card-image">
        <img src="{{ap?.imageUrl}}" alt="">
      </div>
      <div class="category">{{ap?.productType}}</div>
      <div class="heading">{{ap?.productName}}</div>
      <button mat-flat-button class="button" (click)="navigate(ap?.productId)"
              routerLink="/wholesale-buyer/playground/shop/product-view">View More
      </button>
    </div>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
