<div class="shop-product-list-outer">
  <div class="card-outer">
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category"> Title</div>
      <div class="heading"> A heading that must span over two lines
        <!--        <div class="expire">expired in 23 min</div>-->
      </div>
      <!--      check role with cookie -->
      <button mat-flat-button class="button" routerLink="/wholesale-buyer/playground/shop/product-view">View More</button>
    </div>
  </div>
</div>
