<div class="list-outer">
  <form [formGroup]="searchForm" *ngIf="role === 'ADMIN'">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 column">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Product Type</mat-label>
          <mat-select formControlName="productType">
            <mat-option value="ALL">All</mat-option>
            <mat-option value="ORGANIC">Organic</mat-option>
            <mat-option value="INORGANIC">Inorganic</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br>
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td>Configuration</td>
        <td>Product Name</td>
        <td>Product Type</td>
        <td>QTY</td>
        <td>Price</td>
        <!--        <td>Image</td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pl of productList">
        <!--      <tr>-->
        <td class="table-col">
          <div class="td-inner">
            <div class="button-outer">
              <button (click)="deletePopUp(pl?.productId)" class="delete-button button">
                <mat-icon>delete_sweep</mat-icon>
              </button>
              <button (click)="callDecisionMaker(pl?.productId)" class="update-button button">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="view-in-detail-button button" (click)="navigateToViewUser(pl?.productId)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{pl?.productName}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{pl?.productType}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{pl?.qty}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{pl?.price}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
