<div class="list-outer">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 column">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>User Role</mat-label>
          <mat-select formControlName="productType">
            <mat-option value="ALL">All</mat-option>
            <mat-option value="ORGANIC">Organic</mat-option>
            <mat-option value="INORGANIC">Inorganic</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br>
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td>Configuration</td>
        <td>Product Name</td>
        <td>Product Type</td>
        <td>QTY</td>
        <td>Price</td>
        <!--        <td>Image</td>-->
      </tr>
      </thead>
      <tbody>
      <!--      <tr *ngFor="let t of allTechnologies">-->
      <tr>
        <td class="table-col">
          <div class="td-inner">
            <div class="button-outer">
              <button (click)="deletePopUp('pt.programTypeId')" class="delete-button button">
                <mat-icon>delete_sweep</mat-icon>
              </button>
              <button (click)="callDecisionMaker('pt.programTypeId')" class="update-button button">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="view-in-detail-button button" (click)="navigateToViewUser('program.programId')">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            <!--            {{t?.name}}-->
            Carrot
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            <!--            {{t?.date}}-->
            Organic
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            <!--            {{t?.status ? 'Acitive' : 'Inactive'}}-->
            20
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            <!--            {{t?.status ? 'Acitive' : 'Inactive'}}-->
            30.99
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
