<div class="listing-context-outer">
  <h2 class="title">My Listings</h2>
  <hr>
  <div class="buttons-outer">
    <button mat-flat-button routerLink="/farmer/playground/listing/manage/my-listing/new"
            routerLinkActive="active-route">
      New Listing
    </button>
    <button mat-flat-button routerLink="/farmer/playground/listing/manage/my-listing/all"
            routerLinkActive="active-route">
      All Listing
    </button>
    <button mat-flat-button routerLink="/farmer/playground/listing/manage/my-listing/received"
            routerLinkActive="active-route">
      Received Listing
    </button>
  </div>
</div>
<router-outlet></router-outlet>
