<div class="console-general-product-context-outer">
  <h2 class="title">Product</h2>
<!--  <p class="breadcrumb">General > Product</p>-->
  <hr>
  <div class="buttons-outer">
    <button mat-flat-button routerLink="/console/playground/general/manage/product/new"
            routerLinkActive="active-route">
      New Product
    </button>
    <button mat-flat-button routerLink="/console/playground/general/manage/product/all"
            routerLinkActive="active-route">
      All Product
    </button>
  </div>
</div>
<router-outlet></router-outlet>
