<div class="open-order-list-outer">
    <div class="card-outer">
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
      <div class="card">
        <div class="card-image"></div>
        <div class="category"> Title </div>
        <div class="heading"> A heading that must span over two lines
          <div class="expire">expired in 23 min</div>
        </div>
        <button mat-flat-button class="bid-button" routerLink="/farmer/playground/listing/manage/open-listings/details">Bid Now</button>
      </div>
    </div>
</div>
