<div class="open-order-list-outer">
    <div class="card-outer">
      <div class="card" *ngFor="let al of allListings">
        <div class="card-image">
          <img src="{{al?.image}}" alt="">
        </div>
        <div class="category"> {{al?.quantity}} </div>
        <div class="heading"> {{al?.title}}
          <div class="expire">expired in {{al?.expireDate}}</div>
        </div>
        <button mat-flat-button class="bid-button" (click)="navigate(al?.listingId,al?.maxBid)">Bid Now</button>
      </div>
    </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
