<div class="shop-product-view-outer">
  <div class="shop-product-view-inner">
    <div class="left-image">
      <div class="bid-image-outer">
        <img src="{{productDetails?.imageUrl}}"
             alt="bid-image">
      </div>
    </div>
    <div class="right-content">
      <h2 class="title">{{productDetails?.productName}}</h2>
      <div class="description">{{productDetails?.description}}</div>
      <p class="qty other-data">Product Type :- <span>{{productDetails?.productType}}</span></p>
      <p class="other-data">Qty on Hand :- <span>{{productDetails?.qty}}</span></p>
      <p class="other-data">Price Per Kg :- <span>Rs. {{productDetails?.price}}</span></p>

      <div class="button-outer">
        <button mat-raised-button class="place-bid">Buy Now</button>
<!--        <button mat-flat-button>Add to Cart</button>-->
      </div>
    </div>
  </div>
</div>
