<div class="list-outer">
  <br>
  <div class="table-outer">
    <table class="table">
      <thead>
      <tr>
        <td>Configuration</td>
        <td>Title</td>
        <td>QTY</td>
        <td>Description</td>
        <!--        <td>Image</td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let al of allListings">
        <!--      <tr>-->
        <td class="table-col">
          <div class="td-inner">
            <div class="button-outer">
              <button (click)="deletePopUp(al?.listingId)" class="delete-button button">
                <mat-icon>delete_sweep</mat-icon>
              </button>
              <button class="view-in-detail-button button" (click)="ViewBidDetails(al?.listingId)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{al?.title}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{al?.quantity}}
          </div>
        </td>
        <td class="table-col">
          <div class="td-inner">
            {{al?.description}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
