<div class="console-general-product-context-outer">
  <h2 class="title">Blog</h2>
  <!--  <p class="breadcrumb">General > Product</p>-->
  <hr>
  <div class="buttons-outer">
    <button mat-flat-button routerLink="/console/playground/other/manage/blog/new"
            routerLinkActive="active-route">
      New Blog
    </button>
    <button mat-flat-button routerLink="/console/playground/other/manage/blog/all"
            routerLinkActive="active-route">
      All Blog
    </button>
  </div>
</div>
<router-outlet></router-outlet>
