.farmer-body-outer {
  padding: 5px 15px 0 315px;
}

.farmer-body-inner{
  padding: 0 12px 25px 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.farmer-body-inner::-webkit-scrollbar {
  width: 8px;
}

.farmer-body-inner::-webkit-scrollbar-track {
  background-color:  #DDFFBB99;
  border-radius: 5px;
}

.farmer-body-inner::-webkit-scrollbar-thumb {
  background-color: #ABCB89;
  border-radius: 5px;
}
@media only screen and (max-width: 1024px) {
  .farmer-body-outer {
    padding: 5px 15px 0 15px;
  }
}
