
$bg-color:#f1f2f6;
$light-color:#FFFFFF ;
$header-color:#222f3e;
$primary-btn-color:#16A086;
$secondary-btn-color:#0E99FF;
$active-route-color:#FFFFFF;

//table
$view-table-view-btn-color:#1dd1a1;
$view-table-edit-btn-color:#feca57;
$view-table-delete-btn-color:#e74c3c;
$inactive-color:#b2bec3;

//form
$submit-btn-color:#4758B8;
$image-loader-bg-color:#ECF0F1;

//card
$card-bg-color:#ffffff;
$card-focus-border-color:#aaa;
$card-border-color:#ECF0F1;
$card-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.2);

//context
$context-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.2);

//navbar
$navbar-icon-color:#7f8c8d;

// slide drawer
$menu-title-bg-color:linear-gradient(90deg, rgba(209,216,224,1) 37%, rgba(209,216,224,0.2777485994397759) 100%);
$menu-title-line-color:#aaa;
$link-hover-bg-color:#6a89cc;
$link-active-bg-color:#6a89cc;
$active-color:#ffffff;
$link-color:#ffffff;
$link-hover-color:#ffffff;
$icon-color:#7f8c8d;

// scrollbar
$scrollbar-thumb-color:#c8d6e5;
$scrollbar-thumb-hover-color:#95a5a6;
$scrollbar-track-color:#ffffff;


