<section  class="statistics-card-outer" >
  <div  class="row">
    <div  class="col-12  col-lg-3 col-md-4 col-sm-6 card ">
      <div  class="all-ernings card-wrapper">
        <div class="card-top">
          <div class="count">
            <h3>$30200</h3>
            <p>All Earnings</p>
          </div>
          <div  class="icon-wrapper">
            <mat-icon>signal_cellular_alt</mat-icon>
          </div>
        </div>
        <div class="card-bottom">
          <div class="change-percentage">
            <span >% Change</span>
          </div>
          <div class="derection-icon">
            <mat-icon>trending_up </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 card ">
      <div class="page-views card-wrapper">
        <div class="card-top">
          <div class="count">
            <h3>290+</h3>
            <p>Completed Orders for this week</p>
          </div>
          <div  class="icon-wrapper">
            <mat-icon>description</mat-icon>
          </div>
        </div>
        <div class="card-bottom">
          <div class="change-percentage">
            <span >% Change</span>
          </div>
          <div class="derection-icon">
            <mat-icon>trending_up </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 card">
      <div class="task-completed card-wrapper">
        <div class="card-top">
          <div class="count">
            <h3>145</h3>
            <p>Task Completed</p>
          </div>
          <div  class="icon-wrapper">
            <mat-icon>calendar_today</mat-icon>
          </div>
        </div>
        <div class="card-bottom">
          <div class="change-percentage">
            <span >% Change</span>
          </div>
          <div class="derection-icon">
            <mat-icon>trending_up </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 card ">
      <div class="downloads card-wrapper">
        <div class="card-top">
          <div class="count">
            <h3>500</h3>
            <p>Downloads</p>
          </div>
          <div  class="icon-wrapper">
            <mat-icon>download</mat-icon>
          </div>
        </div>
        <div class="card-bottom">
          <div class="change-percentage">
            <span >% Change</span>
          </div>
          <div class="derection-icon">
            <mat-icon >trending_up </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
