<div class="open-order-detail-outer">
  <div class="open-order-detail-inner">
    <div class="left-image">
      <div class="bid-image-outer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-rkMZybnV_U6xZHclm0fLXcjthxHCCG7yoA&usqp=CAU"
             alt="bid-image">
      </div>
    </div>
    <div class="right-content">
      <h2 class="title">A heading that must span over two lines</h2>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur corporis
        eius in, itaque neque non porro quaerat veniam! Aut consequatur expedita odio quaerat voluptatum! Dolor illo
        laborum nemo repudiandae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur corporis
        eius in, itaque neque non porro quaerat veniam! Aut consequatur expedita odio quaerat voluptatum! Dolor illo
        laborum nemo repudiandae!
      </div>
      <p class="qty">Qty :- <span>32Kg</span></p>
      <p class="current-bid">Current Bid :- <span>Rs.30000</span></p>
      <div class="input-outer">
        <span>place a bid :<!--<mat-icon>play_for_work</mat-icon>--></span>
        <input class="bid-amount" type="number" value="0">
        <div class="button-outer">
          <button mat-raised-button class="place-bid">Place Bid</button>
          <button mat-flat-button>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
