<div class="open-order-detail-outer">
  <div class="open-order-detail-inner">
    <div class="left-image">
      <div class="bid-image-outer">
        <img src="{{listingDetails?.image}}" alt="bid-image">
      </div>
    </div>
    <div class="right-content">
      <h2 class="title">{{listingDetails?.title}}</h2>
      <div class="description">{{listingDetails?.description}}</div>
      <p class="qty">Qty :- <span>{{listingDetails?.quantity}}</span></p>
      <p class="current-bid">Current Bid :- <span>Rs.{{maxBid}}</span></p>
      <div class="input-outer">
        <form #f="ngForm" [formGroup]="form" class="bid-form">
          <span>place a bid :</span>
          <input class="bid-amount" type="number" value="0" formControlName="bidAmount">
          <div class="button-outer">
            <button mat-raised-button class="place-bid" (click)="makeABid(f)">Place Bid</button>
<!--            <button mat-flat-button>Cancel</button>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
